@tailwind base;
@tailwind components;
@tailwind utilities;

.register-bg {
    background-image: url(./assets/bg-register.jpg);
    background-size: cover;
    background-position: center;
}
.login-bg {
    background-image: url(./assets/bg-login.jpg);
    background-size: cover;
    background-position: center;
}
.main-bg {
    background-image: url(./assets/bg-main.png);
    background-size: cover;
    background-position: center;
}
.not-found-bg {
    background-image: url(./assets/bg-notfound.jpg);
    background-size: cover;
    background-position: center;
}
.add-pc-bg {
    background-image: url(./assets/bg-addpc.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh; 
}
input[type="file"]::-webkit-file-upload-button {
    background-color: #60346b;
    color: white;
    padding: 3px 10px;
    border: 1px solid #60346b;
    border-radius: 5px;
}
input[type="file"]::-webkit-file-upload-button:hover {
    background-color: #7a5882;
}