@tailwind base;
@tailwind components;
@tailwind utilities;

.register-bg {
    background-image: url(./assets/minimalistic-home-desk-design.jpg);
    background-size: cover;
    background-position: center;
}

.not-found-bg {
    background-image: url(./assets/bg.jpg);
    background-size: cover;
    background-position: center;
}

/* .bg {
    background: radial-gradient(circle, #1c4f76 38%, #061829 92%)
} */