@tailwind base;
@tailwind components;
@tailwind utilities;

.register-bg {
    background-image: url(./assets/bg-register.jpg);
    background-size: cover;
    background-position: center;
}
.login-bg {
    background-image: url(./assets/bg-login.jpg);
    background-size: cover;
    background-position: center;
}
.main-bg {
    background-image: url(./assets/bg-main.png);
    background-size: cover;
    background-position: center;
}

.not-found-bg {
    background-image: url(./assets/bg-notfound.jpg);
    background-size: cover;
    background-position: center;
}
